#Navbar {
  width: 1440px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: white;
}
a {
  text-decoration: none;
  color: black;
}
#left {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
#left > a {
  font-size: 25px;
  font-weight: 700;
  line-height: 29.3px;
  text-align: left;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
#right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#nvOrderbtn {
  width: 120px;
  height: 47px;
  border-radius: 5px;
  background: black;
  color: white;
  cursor: pointer;
}
#searchbtn{
  border: none;
  background: none;
  cursor: pointer;
}
